/* Reset general */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Estilos generales del cuerpo */
body {
  font-family: 'Roboto', sans-serif;
  background-color: black;
  color: white;
  overflow-x: hidden; /* Evita desplazamiento horizontal */
}

/* Contenedor principal con imagen de fondo */
.background-container {
  position: relative;
  width: 100%;
  min-height: 100vh; /* Asegura que el contenedor ocupe al menos la altura de la ventana */
  overflow: hidden;
  z-index: 0;
}

/* Fondo con imagen */
.background-container::before {
  content: '';
  display: block;
  position: fixed; /* Fija la imagen al fondo */
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0.5; /* Ajusta la opacidad */
  background-image: url('IMG/background.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  z-index: -1; /* Asegura que el fondo esté detrás de todo el contenido */
}

/* Estilos de animación para el encabezado */
header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  z-index: 1;
}

/* Estilos para las redes sociales en el encabezado */
header ul {
  display: flex;
  list-style-type: none;
  padding: 0;
  margin-top: 10px;
}

header ul li {
  margin-left: 10px;
}

header a {
  color: rgb(153, 153, 255);
  font-family: 'Kaushan Script', cursive;
  text-decoration: none;
  transition: color 0.3s ease;
  text-shadow: 1 1 1 black;
}

header a:hover {
  transition: ease-in-out;
  transition: 0.5s;
  font-size: 1.2rem;
  color: rgb(255, 255, 255);
}

/* Estilos para el título del encabezado */
header img {
  width: auto;
  max-height: 5rem;
  animation: bounce-in 1s ease;
}

@keyframes bounce-in {
  0% {
    transform: scale(0.5);
  }
  100% {
    transform: scale(1);
  }
}

/* Estilos generales para el contenido principal */
main {
  padding: 20px;
}

/* Estilos para los títulos */
h3, h4 {
  color: white;
  text-align: center;
  text-shadow: 1px 1px 2px black;
}

h2{
  color: white;
  text-shadow: 1px 1px 2px black;
}

/* Estilos para los párrafos */
p {
  font-size: 1rem;
  line-height: 1.6;
  margin-bottom: 20px;
}

/* Estilos para las líneas divisoras */
hr {
  width: 50%;
  border: none;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  margin: 20px auto;
}

/* Estilos para el carrusel de videos */
.videos {
  width: auto;
  margin: 0 auto;
}

.swiper-container {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer; /* Cambia el cursor a pointer para indicar que es clickeable */
}

.swiper-slide iframe {
  width: 80%; /* Reducir el ancho del iframe */
}

@media (min-width: 768px) {
  .swiper-slide {
    width: 30%; /* Ajusta el ancho de cada slide al 30% para mostrar 3 slides en pantallas grandes */
  }
}

@media (max-width: 767px) {
  .swiper-slide {
    width: 100%; /* Ajusta el ancho de cada slide al 100% para mostrar 1 slide en pantallas pequeñas */
  }
}

/* Estilos para el carrusel de imágenes */
.carousel {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  margin-top: 20px;
}

.carousel-container {
  display: flex;
  transition: transform 0.5s ease;
  padding: 0 20px;
}

.carousel-slide {
  width: 100%; /* Ajusta el ancho al 100% para ocupar todo el contenedor */
  margin: 0 10px; /* Espacio entre las imágenes reducido */
  box-sizing: border-box;
  padding: 5px; /* Reducir el padding */
}

.carousel-slide img {
  width: 100%; /* Haz que la imagen ocupe todo el ancho del contenedor */
  max-height: 100%; /* Ajusta la altura máxima para mantener la proporción */
  object-fit: cover; /* Ajusta la imagen para que cubra el contenedor sin distorsión */
  box-shadow: 0 0 6px white;
  border-radius: 5px; /* Bordes redondeados */
}

.carousel-slide a {
  display: block;
  text-align: center;
  text-decoration: none;
  color: white;
  font-size: 1.2rem;
  font-family: 'Kaushan Script', cursive;
}

.carousel-slide img:hover {
  box-shadow: 0 0 20px white;
}

/* Estilos para el pie de página */
.footer {
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 2;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 15vh;
  width: 100%;
}

footer img {
  width: 90%;
  max-height: 90%;
  object-fit: cover;
}
