/* Reset general */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Estilos generales del cuerpo */
body {
  font-family: 'Roboto', sans-serif;
  background-color: black;
  color: white;
  overflow-x: hidden; /* Evita desplazamiento horizontal */
}

/* Contenedor principal con imagen de fondo */
.background-container {
  position: relative;
  width: 100%;
  min-height: 100vh; /* Asegura que el contenedor ocupe al menos la altura de la ventana */
  overflow: hidden;
  z-index: 0;
}

/* Fondo con imagen */
.background-container::before {
  content: '';
  display: block;
  position: fixed; /* Fija la imagen al fondo */
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0.5; /* Ajusta la opacidad */
  background-image: url('IMG/background.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  z-index: -1; /* Asegura que el fondo esté detrás de todo el contenido */
}

/* Estilos de animación para el encabezado */
header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  z-index: 1;
}

/* Estilos para las redes sociales en el encabezado */
header ul {
  display: flex;
  list-style-type: none;
  padding: 0;
  margin-top: 10px;
}

header ul li {
  margin-left: 10px;
}

header a {
  color: rgb(153, 153, 255);
  font-family: 'Kaushan Script', cursive;
  text-decoration: none;
  transition: color 0.3s ease;
  text-shadow: 1px 1px 1px black;
}

header a:hover {
  transition: ease-in-out;
  transition: 0.5s;
  font-size: 1.2rem;
  color: rgb(255, 255, 255);
}

/* Estilos para el título del encabezado */
header img {
  width: auto;
  max-height: 5rem;
  animation: bounce-in 1s ease;
}

@keyframes bounce-in {
  0% {
    transform: scale(0.5);
  }
  100% {
    transform: scale(1);
  }
}

/* Estilos generales para el contenido principal */
main {
  padding: 20px;
}

/* Estilos para los títulos */
h3, h4 {
  color: white;
  text-align: center;
  text-shadow: 1px 1px 2px black;
}

h2{
  color: white;
  text-shadow: 1px 1px 2px black;
}

/* Estilos para los párrafos */
p {
  font-size: 1rem;
  line-height: 1.6;
  margin-bottom: 20px;
}

/* Estilos para las líneas divisoras */
hr {
  width: 50%;
  border: none;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  margin: 20px auto;
}

/* Estilos para el carrusel de videos */
.videos {
  width: auto;
  margin: 0 auto;
}

.swiper-container {
  width: 100%;
  height: 100%;
  position: relative; /* Asegura que los slides estén contenidos en el swiper-container */
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: grab; /* Cambia el cursor a un agarre */
  padding: 10px; /* Ajusta el padding según tu preferencia */
}

.swiper-slide .slide-content {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer; /* Cambia el cursor a un puntero */
}

.swiper-slide iframe {
  pointer-events: none; /* Desactiva los eventos del iframe para que no interfieran con los eventos de clic */
}

@media (min-width: 768px) {
  .swiper-slide {
    width: 30%; /* Ajusta el ancho de cada slide al 30% para mostrar 3 slides en pantallas grandes */
  }
}

@media (max-width: 767px) {
  .swiper-slide {
    width: 100%; /* Ajusta el ancho de cada slide al 100% para mostrar 1 slide en pantallas pequeñas */
  }
}

/* Estilos para el carrusel de imágenes */
.carousel {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  margin-top: 20px;
}

.carousel-container {
  display: flex;
  transition: transform 0.5s ease;
  padding: 0 20px;
}

.carousel-slide {
  width: 100%; /* Ajusta el ancho al 100% para ocupar todo el contenedor */
  margin: 0 10px; /* Espacio entre las imágenes reducido */
  box-sizing: border-box;
  padding: 5px; /* Reducir el padding */
}

.carousel-slide img {
  width: 100%; /* Haz que la imagen ocupe todo el ancho del contenedor */
  max-height: 100%; /* Ajusta la altura máxima para mantener la proporción */
  object-fit: cover; /* Ajusta la imagen para que cubra el contenedor sin distorsión */
  box-shadow: 0 0 6px white;
  border-radius: 5px; /* Bordes redondeados */
}

.carousel-slide a {
  display: block;
  text-align: center;
  text-decoration: none;
  color: white;
  font-size: 1.2rem;
  font-family: 'Kaushan Script', cursive;
}

.carousel-slide img:hover {
  box-shadow: 0 0 20px white;
}

/* Estilos para el pie de página */


/* Estilos para el carrusel de imágenes */
.gallery-container {
  margin: 40px 0;
}

.image-swiper .swiper-slide {
  width: 100%;
  height: 200px; /* Ajusta la altura según tu preferencia */
  background: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-swiper .swiper-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Asegura que las imágenes se recorten para llenar el slide */
  cursor: pointer;
}

/* Estilos para el modal */
.modal {
  display: none; /* Oculto por defecto */
  position: fixed;
  z-index: 1000;
  padding-top: 60px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.9);
}

.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}

.modal-content, .close {
  animation-name: zoom;
  animation-duration: 0.6s;
}

@keyframes zoom {
  from {transform:scale(0)}
  to {transform:scale(1)}
}

.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}






.footer {
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 2;
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 13vh;
  width: 100%;
  overflow: hidden;
}

h2 a{
  text-decoration: none;
  font-size: 1.5rem;
  color: white;
}

h2 a:hover{
  transition: ease-in-out;
  transition: 0.5s;
  text-shadow:  0 0 20px white;
  font-size: 1.6rem;
}
footer a{
  text-decoration: none;
  font-size: 1.2rem;
  color: white;
}
footer a:hover {
  transition: ease-in-out;
  transition: 0.5s;
  text-shadow:  0 0 20px white;
  font-size: 1.5rem;
}

footer img {
  padding-top: 10px;
  height: 90%;
  object-fit: cover;
}
